.DS_Store
.idea
.idea_modules
.sass-cache
target
logs/*
node_modules
*/node_modules
web-ui/src/main/resources/app/lib/*
web-ui/src/main/resources/app/css/scss/vendors/*
!web-ui/src/main/resources/app/css/scss/vendors/.empty
!web-ui/src/main/resources/app/lib/.empty
